doctype html
html.no-js.lt-ie9.lt-ie8.lt-ie7
  head
  body
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Prevoyance Avocats
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Free HTML5 Template by FREEHTML5.CO')
    meta(name='keywords', content='free html5, free template, free bootstrap, html5, css3, mobile first, responsive')
    meta(name='author', content='FREEHTML5.CO')
    meta(property='og:title', content='')
    meta(property='og:image', content='')
    meta(property='og:url', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(name='twitter:title', content='')
    meta(name='twitter:image', content='')
    meta(name='twitter:url', content='')
    meta(name='twitter:card', content='')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel='shortcut icon', href='favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900', rel='stylesheet', type='text/css')
    // Animate.css
    link(rel='stylesheet', href='css/animate.css')
    // Icomoon Icon Fonts
    link(rel='stylesheet', href='css/icomoon.css')
    // Bootstrap
    link(rel='stylesheet', href='css/bootstrap.css')
    // Superfish
    link(rel='stylesheet', href='css/superfish.css')
    link(rel='stylesheet', href='css/style.css')
    // Modernizr JS
    script(src='js/modernizr-2.6.2.min.js')
    // FOR IE9 below
    //if lt IE 9
      script(src='js/respond.min.js')
    #fh5co-wrapper
      #fh5co-page
        #fh5co-header
          header#fh5co-header-section
            .container.MyContainer
              .nav-header
                a.js-fh5co-nav-toggle.fh5co-nav-toggle(href='#')
                h1#fh5co-logo
                  a(href='/')
                    .imgContainer
                      img(src="images/photos/lol.png", alt="" width="250px" height="150px")
                    p.whiteSmall Prévoyance Avocat.
                // START #fh5co-menu-wrap
                nav#fh5co-menu-wrap(role='navigation')
                  ul#fh5co-primary-menu.sf-menu
                    li.active
                      a(href='/') Home
                    li
                      a.fh5co-sub-ddown(href='/register') Espace Client
                    li
                      a.fh5co-sub-ddown(href='#') Votre situation
                    li
                      a.fh5co-sub-ddown(href='/comparateur') Notre comparateur
                    li
                      a.fh5co-sub-ddown(href='#') Vos démarches
        // end:fh5co-header
        .fh5co-hero
          .fh5co-overlay
          .fh5co-cover(data-stellar-background-ratio='0.5', style='background-image: url(images/photos/avocatBackground.jpg);')
            .desc.animate-box
              .container
                .row
                  .col-md-7
                    h2.white #{`${name || 'Prévisibilité Accessibilité Lisibilité'}`}
                    span
                      a.btn.btn-primary.test(href='/droit') Accéder a mes droits
                    span
        // end:fh5co-hero
        #fh5co-schedule-section.fh5co-lightgray-section
          .container
            .row
              .col-md-8.col-md-offset-2
                .heading-section.text-center.animate-box
                  h2.purple Prévoyance Avocat, c'est quoi ?
                  p
                    |prevoyance-avocat.fr est le premier agrégateur de données de cotisations retraite aliant un comparateur en ligne et un service d'automatisation de formulaires administratif
                  br
            br
            br
            .row.animate-box
              .col-md-4.col-md-offset-0.text-center
                .imgContainer
                    img(src="images/photos/test.jpg", alt="" width="600px" height="400px")
              .col-md-5.col-md-offset-7
                .heading-section.text-center.animate-box
                  h2.purple L'agrégateur
                  p Accédez en temps réel de manière sécurisée à l'état de l' de vos cotisations retraite.
                  p Comprenez vos droits, investisez au mieux !
            .containBlank
            .row.animate-box
              .col-md-2.col-md-offset-7.text-center
                .imgContainer
                  img(src='images/photos/comparateur.png', alt='' width="600px" height="400px")
              .col-md-7.col-md-offset-0
                .heading-section.text-center.animate-box
                   h2.purple Le comparateur
                   p Trouvez les meilleurs offres de mutuelle santé, complémentaire retraite et prèvoyance parmis nos partenaires !
                   p Notre comparateur s'adapte à vos besoins et vous permet de pondèrer vos critères de recherche
                   p Vous souhaitez souscrire différents contrats ? Nous vous proposons un comparateur multi-critères pour vous présentez le meilleur contrat pour vous
            .containBlank
            .row.animate-box
              .col-md-4.col-md-offset-0.text-center
                .imgContainer
                    img(src='images/photos/services.jpg', alt='' width="600px" height="400px")
              .col-md-7.col-md-offset-7
                .heading-section.text-center.animate-box
                   h2.purple Les services administratifs
                   p Marre de la paperasse ?
                   p Souscrivez à des offres et résiliez vos contrats en quelques clics avec notre service d'aide à la gestion.
                   p Nous vous accompagnons à chaque étape de votre vie professionnelle pour faciliter vos démarches
                br
                br
    #fh5co-programs-section
      .container
        .row
          .col-md-8.col-md-offset-2
            .heading-section.text-center.animate-box
              h2.purple Notre équipe
        .row.text-center
          .col-md-2.col-sm-4
          .col-md-4.col-sm-8
            .team-section-grid.animate-box(style='background-image: url(images/photos/sarahhtest.jpg);')
              .overlay-section
                .desc
                  h3 Sarah BARTZ
                  span CEO
                  p(style="font-size:20px;") Elève-avocat au sein de l’ERAGE et diplômée du Master 2 DJCE de Nancy, elle s’intéresse à la vie des entreprises et a développé des compétences en droit des sociétés et en droit fiscal.
                  p.fh5co-social-icons
                    a(target="_blank" rel="noopener noreferrer" href='https://fr.linkedin.com/in/sarah-bartz')
                      i.fab.fa-linkedin-in
          .col-md-1.col-sm-4
          .col-md-4.col-sm-4
            .team-section-grid.animate-box(style='background-image: url(images/photos/pierreb.jpg);')
              .overlay-section
                .desc
                  h3 Pierre BALLOCHI
                  span COO
                  p(style="font-size:20px;") Elève-avocat et diplômé du Master 2 DJCE de Nancy, Pierre s’oriente vers le conseil en matière de fiscalité des professionnels.
                  p.fh5co-social-icons
                    a(target="_blank" rel="noopener noreferrer" href='https://fr.linkedin.com/in/pierre-ballochi')
                      i.fab.fa-linkedin-in
          .col-md-2.col-sm-4
          .col-md-4.col-sm-4
            .team-section-grid.animate-box(style='background-image: url(images/photos/evam.jpg);')
              .overlay-section
                .desc
                  h3 Eva MORIN
                  span CMO
                  p(style="font-size:20px;") Elève avocat diplômée d'un Master 2 en Droit des Affaires, elle s'épanouit en droit fiscal et en gestion patrimoniale.
                  p.fh5co-social-icons
                    a(target="_blank" rel="noopener noreferrer" href='https://www.linkedin.com/in/eva-morin-b10067146/')
                      i.fab.fa-linkedin-in
          .col-md-1.col-sm-4
          .col-md-4.col-sm-4
            .team-section-grid.animate-box(style='background-image: url(images/photos/viviana.jpg);')
              .overlay-section
                .desc
                  h3 Vivian ADAM
                  span CPO
                  p(style="font-size:20px;") Elève-avocat diplômé d'un Master 2 Droit des affaires et d'un Master 2 MSC in Luxury and Design Management, il s'oriente vers le droit fiscal.
                  p.fh5co-social-icons
                    a(target="_blank" rel="noopener noreferrer" href='https://www.linkedin.com/in/vivianadam')
                      i.fab.fa-linkedin-in
    footer
      #footer
        .container
          .row
            .col-md-4.animate-box
              h3.section-title A propos de nous
              p Projet réalisé dans le cadre du ERAGETECH 2019 par des élèves avocats de l'ERAGE et un Developpeur Web Epitech
            .col-md-4.animate-box
              h3.section-title Nos adresses
              ul.contact-info
                li
                  i.fas.fa-envelope
                  a(href='#') contact@prevoyance-avocat.fr
                li
                  i.fas.fa-home
                  a(href='#') www.prevoyance-avocat.fr
            .col-md-4.animate-box
              h3.section-title Contactez nous !
              form.contact-form(action="/sendEmail" method="POST")
                .form-group
                  label.sr-only(for='name') Nom
                  input#name.form-control(type='name', placeholder='Nom' name="name")
                .form-group
                  label.sr-only(for='email') Email
                  input#email.form-control(type='email', placeholder='Votre Email' name="email")
                .form-group
                  label.sr-only(for='message') Message
                  textarea#message.form-control(rows='7', placeholder='Votre Message' name="message")
                .form-group
                  input#btn-submit.btn.btn-send-message.btn-md(type='submit', value='Contactez-nous')
              .myImgContainer
                .imgContainer
                    img(src="images/photos/lol.png", alt="" width="650px" height="350px")
          .row.copy-right
            .col-md-6.col-md-offset-3.text-center
              p.fh5co-social-icons
                a(href='#')
                  i.fab.fa-instagram
                a(href='#')
                  i.fab.fa-twitter
                a(href='#')
                  i.fab.fa-facebook
              p
                | Copyright 2019 
                a(href='#') Prévoyance Avocat
                | . Tout droits réservé. 
                br
    // END fh5co-page
    // END fh5co-wrapper
    // jQuery
    script(src='js/jquery.min.js')
    // jQuery Easing
    script(src='js/jquery.easing.1.3.js')
    // Bootstrap
    script(src='js/bootstrap.min.js')
    // Waypoints
    script(src='js/jquery.waypoints.min.js')
    // Stellar
    script(src='js/jquery.stellar.min.js')
    // Superfish
    script(src='js/hoverIntent.js')
    script(src='js/superfish.js')
    // Main JS (Do not remove)
    script(src='js/main.js')
    script(src="https://kit.fontawesome.com/d1de98130d.js")
